.item{
     
    margin: auto;
    
    list-style-type: none;
    padding: 10px;
    width: 50%;
    font-size: medium;
    font-weight: bold;
    
        }


.input{
    margin: auto;
    
    width: 50%;
    padding: 10px;
}

#fild {
  margin-left:240px ;
  
  background-color: black;
  padding: 14px;
  border-radius: 10px;
  color: aliceblue;
  /* box-shadow: 20p; */
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.34);
}
#submit{
    border: 2px solid blue;
  background-color:black;
  padding: 14px;
  border-radius: 10px;
  color:aliceblue;
  box-shadow: 0px 4px 4px 0px rgba(3, 3, 3, 0.561);;
}

span{
    border: 2px solid rgb(255, 0, 98);
    width: 611px;
    display: inline-block;
    padding: 14px;
    border-radius: 10px;
    background-color: rgb(165, 174, 148);
    /* color: aliceblue; */
    box-shadow: 0px 3px 5px 0px rgba(54, 113, 14, 0.34);
    
}
.deleteBtn{
    border: 2px solid rgb(0, 98, 255);
    margin: auto;
    padding: 14px;
    border-radius: 10px;
    background-color: rgb(85, 10, 10);
    color: aliceblue;
    box-shadow: 0px 3px 5px 0px rgba(46, 8, 8, 0.34);
}

h1{
    
    
    margin-left: 42%;
}